@model MemoEngine.Models.Session

@{
    ViewBag.Title = "세션 상세 보기";
}

<h2>세션 상세 보기</h2>

<fieldset>
    <legend>세션 정보</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Speakers)
    </div>
    <div class="display-field">
        @Html.Partial("_SpeakersLinks", Model)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Room)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Room)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Code)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Code)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Community)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Community)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.DateText)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateText)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Tags)
    </div>
    <div class="display-field">
        @Html.Partial("_TagsLinks", Model)
    </div>


</fieldset>
