<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />

    <link href="~/css/font-awesome.min.css" rel="stylesheet" />

    <link href="~/Content/me.css" rel="stylesheet" />
    <link href="~/Content/me-footer.css" rel="stylesheet" />

    <link href="~/Content/memoengine.min.css" rel="stylesheet" />

</head>
<body>

    <nav class="navbar navbar-static-top navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("메모엔진", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="~/Default">HOME</a></li>
                    <li><a href="~/DotNetNote/">게시판</a></li>
                    <li><a href="/Maxim/Default.html">명언</a></li>
                    <li><a href="~/About">About</a></li>
                    <li><a href="~/Contact">Contact</a></li>
                    <li><a href="~/Conference/TechDays/Index">Conference</a></li>
                    @*<li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                    <li class="divider"></li>
                    <li><a href="#">One more separated link</a></li>
                </ul>
            </li>*@
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">예제 <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            @*<li><a asp-controller="RouteDemo" asp-action="Index">어트리뷰트 라우팅</a></li>
                    <li><a asp-controller="Data" asp-action="Index">MVC 주요 기능 살펴보기</a></li>
                    <li><a asp-controller="HelperMethodDemo" asp-action="Index">헬퍼 메서드</a></li>
                    <li><a asp-controller="FormValidationDemo" asp-action="Index">폼 유효성 검사</a></li>
                    <li><a asp-controller="TagHelperDemo" asp-action="Index">태그 헬퍼</a></li>
                    <li><a asp-controller="LoggingDemo" asp-action="Index">로깅(Logging)</a></li>
                    <li><a asp-controller="ViewComponentDemo" asp-action="Index">뷰 컴포넌트</a></li>
                    <li class="divider"></li>*@
                            <li><a href="~/Maxim/Default.html">명언 서비스</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">



                    @if (Session["UserID"].ToString() == "Anonymous" || Session["UserID"].ToString() == "") {
                    <li>
                        <a href="/Account/Login"><i class="glyphicon glyphicon-lock"></i>로그인</a>
                    </li>
                    <li>
                        <a href="/Account/Register"><i class="glyphicon glyphicon-pencil"></i>회원가입</a>
                    </li>
                    }
                    else { 
                    <li>
                        <a href="/UserInfor.aspx"><i class="glyphicon glyphicon-user"></i>@Session["UserID"].ToString() (@Session["UserName"].ToString())</a>
                    </li>
                    <li>
                        <a href="/Logout.aspx"><i class="glyphicon glyphicon-remove"></i>로그아웃</a>
                    </li>
                    }


                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>




    <div class="container body-content">
        @RenderBody()
    </div>


    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="text-center">Copyright &copy; @DateTime.Now.Year All right reserved.</p>
                </div>
            </div>
        </div>
    </footer>


    <script src="~/Scripts/jquery-2.1.3.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.11.2.min.js"></script>
    <script src="~/Scripts/me.js"></script>
    <script>
    // 페이지 로드시 현재 보고 있는 페이지 메뉴에 active 속성 부여
    $(document).ready(function () {
        var url = window.location;
        $('ul.nav li a').each(function () {
            if (this.href == url) {
                $("ul.nav li").each(function () {
                    if ($(this).hasClass("active")) {
                        $(this).removeClass("active");
                    }
                });
                $(this).parent().addClass('active');
            }
        });
    });
    </script>

</body>
</html>